<head>
    <title><%= config.title %></title>
    <meta charset="utf-8" />
    <meta name="description" content="Website for crows band" />
    <meta name="keywords" content="Webcrows, Ambuj, Aditya, Ajay, Patrick, Niranjan" />
    <meta name="author" content="Webcrows" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- css('bootstrap/css/bootstrap.min.css') %>
    <%- css('css/crows.css') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
</head>
